# EL ALGORITMO DEMORA MUCHO EN GENERAR EL CSV
#### Tal vez mejoraria bastante la performance del algoritmo usando apply en vez de iterrow!.

In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv('../data/events.csv', low_memory=False)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.loc[df['timestamp'] >= pd.Timestamp(2018,5,30)]

In [35]:
df.shape

(210433, 23)

In [36]:
test = df.groupby('person')['timestamp'].value_counts().to_frame()

In [37]:
test.columns = ['contar']

In [38]:
test.reset_index(inplace=True)

In [39]:
test

          person           timestamp  contar
0       00091926 2018-05-31 19:51:49       3
1       00091926 2018-05-31 02:33:39       2
2       00091926 2018-05-31 19:52:03       2
3       00091926 2018-05-31 02:33:52       1
4       00091926 2018-05-31 02:33:55       1
5       00091926 2018-05-31 02:33:58       1
6       00091926 2018-05-31 02:34:10       1
7       00091926 2018-05-31 02:34:27       1
8       00091926 2018-05-31 02:34:32       1
9       00091926 2018-05-31 02:37:26       1
10      00091926 2018-05-31 02:37:32       1
11      00091926 2018-05-31 02:37:33       1
12      000e4d9e 2018-05-30 17:45:22       2
13      000e4d9e 2018-05-30 12:17:02       1
14      000e4d9e 2018-05-30 12:17:04       1
15      000e4d9e 2018-05-30 12:17:05       1
16      000e4d9e 2018-05-30 12:17:06       1
17      000e4d9e 2018-05-30 12:17:08       1
18      0010e89a 2018-05-30 18:18:34       1
19      0010e89a 2018-05-30 18:18:35       1
20      0010e89a 2018-05-30 18:18:36       1
21      0010e89a 2018-05-30 18:19:17       1
22      001802e4 2018-05-31 17:34:23       3
23      001802e4 2018-05-31 17:37:31       2
24      001802e4 2018-05-31 17:38:17       2
25      001802e4 2018-05-31 17:44:12       2
26      001802e4 2018-05-31 17:35:55       1
27      001802e4 2018-05-31 17:36:18       1
28      001802e4 2018-05-31 17:36:35       1
29      001802e4 2018-05-31 17:37:15       1
...          ...                 ...     ...
182519  ffe066cc 2018-05-30 14:09:14       1
182520  ffe066cc 2018-05-30 14:09:15       1
182521  ffe066cc 2018-05-30 14:09:55       1
182522  ffe066cc 2018-05-31 18:25:47       1
182523  ffe066cc 2018-05-31 18:26:04       1
182524  ffe066cc 2018-05-31 18:26:18       1
182525  ffe066cc 2018-05-31 18:26:32       1
182526  ffe066cc 2018-05-31 18:26:44       1
182527  ffe066cc 2018-05-31 18:27:05       1
182528  ffe066cc 2018-05-31 18:27:31       1
182529  ffe066cc 2018-05-31 18:27:39       1
182530  ffe066cc 2018-05-31 18:27:48       1
182531  ffe066cc 2018-05-31 18:28:02       1
182532  ffe066cc 2018-05-31 18:28:09       1
182533  ffe066cc 2018-05-31 18:28:11       1
182534  ffe066cc 2018-05-31 18:28:29       1
182535  ffe066cc 2018-05-31 18:28:48       1
182536  ffe066cc 2018-05-31 18:28:52       1
182537  fff1659c 2018-05-30 11:58:39       4
182538  fff1659c 2018-05-31 23:42:22       3
182539  fff1659c 2018-05-31 23:42:50       1
182540  fff1659c 2018-05-31 23:43:40       1
182541  fff1659c 2018-05-31 23:44:37       1
182542  fff1659c 2018-05-31 23:44:49       1
182543  fff1659c 2018-05-31 23:45:00       1
182544  fff1659c 2018-05-31 23:45:09       1
182545  fff1659c 2018-05-31 23:45:59       1
182546  fff1659c 2018-05-31 23:46:58       1
182547  fff1659c 2018-05-31 23:49:03       1
182548  fff1659c 2018-05-31 23:54:11       1

[182549 rows x 3 columns]

In [40]:
test.sort_values(['person', 'timestamp'], ascending=True,inplace=True)

In [41]:
test

          person           timestamp  contar
1       00091926 2018-05-31 02:33:39       2
3       00091926 2018-05-31 02:33:52       1
4       00091926 2018-05-31 02:33:55       1
5       00091926 2018-05-31 02:33:58       1
6       00091926 2018-05-31 02:34:10       1
7       00091926 2018-05-31 02:34:27       1
8       00091926 2018-05-31 02:34:32       1
9       00091926 2018-05-31 02:37:26       1
10      00091926 2018-05-31 02:37:32       1
11      00091926 2018-05-31 02:37:33       1
0       00091926 2018-05-31 19:51:49       3
2       00091926 2018-05-31 19:52:03       2
13      000e4d9e 2018-05-30 12:17:02       1
14      000e4d9e 2018-05-30 12:17:04       1
15      000e4d9e 2018-05-30 12:17:05       1
16      000e4d9e 2018-05-30 12:17:06       1
17      000e4d9e 2018-05-30 12:17:08       1
12      000e4d9e 2018-05-30 17:45:22       2
18      0010e89a 2018-05-30 18:18:34       1
19      0010e89a 2018-05-30 18:18:35       1
20      0010e89a 2018-05-30 18:18:36       1
21      0010e89a 2018-05-30 18:19:17       1
22      001802e4 2018-05-31 17:34:23       3
26      001802e4 2018-05-31 17:35:55       1
27      001802e4 2018-05-31 17:36:18       1
28      001802e4 2018-05-31 17:36:35       1
29      001802e4 2018-05-31 17:37:15       1
30      001802e4 2018-05-31 17:37:22       1
31      001802e4 2018-05-31 17:37:25       1
23      001802e4 2018-05-31 17:37:31       2
...          ...                 ...     ...
182520  ffe066cc 2018-05-30 14:09:15       1
182521  ffe066cc 2018-05-30 14:09:55       1
182512  ffe066cc 2018-05-31 18:25:27       4
182522  ffe066cc 2018-05-31 18:25:47       1
182523  ffe066cc 2018-05-31 18:26:04       1
182524  ffe066cc 2018-05-31 18:26:18       1
182525  ffe066cc 2018-05-31 18:26:32       1
182526  ffe066cc 2018-05-31 18:26:44       1
182527  ffe066cc 2018-05-31 18:27:05       1
182528  ffe066cc 2018-05-31 18:27:31       1
182529  ffe066cc 2018-05-31 18:27:39       1
182530  ffe066cc 2018-05-31 18:27:48       1
182531  ffe066cc 2018-05-31 18:28:02       1
182532  ffe066cc 2018-05-31 18:28:09       1
182533  ffe066cc 2018-05-31 18:28:11       1
182534  ffe066cc 2018-05-31 18:28:29       1
182535  ffe066cc 2018-05-31 18:28:48       1
182536  ffe066cc 2018-05-31 18:28:52       1
182537  fff1659c 2018-05-30 11:58:39       4
182538  fff1659c 2018-05-31 23:42:22       3
182539  fff1659c 2018-05-31 23:42:50       1
182540  fff1659c 2018-05-31 23:43:40       1
182541  fff1659c 2018-05-31 23:44:37       1
182542  fff1659c 2018-05-31 23:44:49       1
182543  fff1659c 2018-05-31 23:45:00       1
182544  fff1659c 2018-05-31 23:45:09       1
182545  fff1659c 2018-05-31 23:45:59       1
182546  fff1659c 2018-05-31 23:46:58       1
182547  fff1659c 2018-05-31 23:49:03       1
182548  fff1659c 2018-05-31 23:54:11       1

[182549 rows x 3 columns]

In [43]:
from ipywidgets import IntProgress
from IPython.display import display

persona_antes=None
test["realiza30EventosEn20MinsLosUltimos2Dias"] = False

f = IntProgress(min=0, max=182549) # instantiate the bar
display(f) # display the bar


usuario_ya_con_conte = False   
for i, fila in test.iterrows():
    f.value += 1 # signal to increment the progress bar
    contar=0
    if persona_antes is None or persona_antes != fila["person"]:
        usuario_ya_con_conte=False
        persona_antes=fila["person"]
        df_aux = test[test["person"]==fila["person"]]
    if usuario_ya_con_conte: continue
        
    for i2, fila2 in df_aux.iterrows():
        if (abs(fila['timestamp'] - fila2['timestamp'])).seconds < 60*20: # 20 minutos
            contar+=test.at[i,"contar"]
        else:
            break
            
        if contar==30:
            test.at[i,"realiza30EventosEn20MinsLosUltimos2Dias"] = True
            usuario_ya_con_conte = True
            break

IntProgress(value=0, max=182549)

In [46]:
test[test["realiza30EventosEn20MinsLosUltimos2Dias"]==True]

,person,timestamp,contar,realiza30EventosEn20MinsLosUltimos2Dias
22,001802e4,2018-05-31 17:34:23,3,True
48,0031c75f,2018-05-31 02:01:39,3,True
124,00970caa,2018-05-31 22:56:56,3,True
225,00b5303d,2018-05-30 22:20:58,3,True
246,00b6642b,2018-05-31 20:05:02,3,True
318,00f49191,2018-05-31 13:20:16,3,True
380,01039bf1,2018-05-30 22:06:44,1,True
565,015fb139,2018-05-31 02:55:28,3,True
581,016a78e4,2018-05-30 18:09:00,3,True
652,018adf26,2018-05-30 22:32:20,3,True
697,019c24ae,2018-05-31 21:27:51,3,True
802,01ac5844,2018-05-30 23:45:04,3,True
821,01af6573,2018-05-31 17:01:27,1,True
863,01c407bd,2018-05-30 14:37:06,2,True
948,01f24fc9,2018-05-30 22:16:23,3,True
1013,020b50dc,2018-05-30 23:11:52,2,True
1126,02417ee2,2018-05-31 18:41:00,3,True
1203,025e1ccc,2018-05-30 20:05:54,3,True
1221,02603929,2018-05-30 01:06:01,1,True
1280,02694196,2018-05-30 16:37:06,3,True
1300,028d0864,2018-05-30 16:31:41,3,True
1324,02b8d9d5,2018-05-31 00:51:52,3,True
1363,02e0a3c2,2018-05-31 20:54:27,3,True
1446,02f0635f,2018-05-30 10:25:59,3,True
1487,02fb0bea,2018-05-31 22:33:10,3,True
1503,030cdb09,2018-05-31 15:13:37,3,True
1603,032eb0b8,2018-05-31 00:13:07,1,True
1730,037b36f8,2018-05-30 14:48:12,3,True
1949,03a67b1c,2018-05-30 23:36:31,3,True
2042,03bfba07,2018-05-30 02:03:45,3,True
...,...,...,...,...
180121,fbfe488a,2018-05-31 03:55:07,2,True
180159,fc0cbf0d,2018-05-31 13:10:16,1,True
180209,fc1d57d3,2018-05-31 15:05:18,3,True
180352,fc87a52a,2018-05-30 19:42:04,2,True
180454,fcac81d6,2018-05-31 18:18:21,3,True
180513,fcb822b2,2018-05-31 13:36:37,3,True
180676,fcdb0b35,2018-05-31 17:10:30,3,True
180933,fd36449a,2018-05-31 21:19:31,3,True
180943,fd49335a,2018-05-30 00:12:15,3,True
181133,fd9de4d1,2018-05-31 20:18:24,3,True
181163,fda773f4,2018-05-30 05:14:44,2,True
181207,fdc1e44b,2018-05-30 13:42:41,3,True
181258,fde8b41c,2018-05-30 02:17:34,1,True
181336,fded43b9,2018-05-30 15:14:47,1,True
181377,fdf23224,2018-05-31 03:18:06,1,True
181419,fe0952f5,2018-05-31 01:48:15,3,True
181439,fe13802e,2018-05-30 14:29:13,1,True
181533,fe35c833,2018-05-31 15:06:55,1,True
181564,fe530818,2018-05-30 04:31:55,3,True
181578,fe549a4b,2018-05-31 11:26:33,3,True
181705,fe98f91f,2018-05-31 17:32:50,3,True
181811,fee6cf0f,2018-05-30 00:56:07,1,True
182031,ff24c850,2018-05-30 21:01:51,2,True
182090,ff2ffecf,2018-05-31 18:51:09,1,True
182140,ff3b5ff0,2018-05-30 00:07:13,3,True
182298,ff736f37,2018-05-31 23:21:07,3,True
182323,ff77d8a0,2018-05-30 19:31:51,2,True
182355,ff841773,2018-05-31 23:28:40,3,True
182463,ffa28549,2018-05-30 18:56:09,2,True
182495,ffdafc72,2018-05-30 15:30:38,2,True

### EJECUTAR DESDE ACA CON EL CSV

In [47]:
usuarios_solo_con_true = test[test["realiza30EventosEn20MinsLosUltimos2Dias"]==True]

In [52]:
df = pd.read_csv('../data/events.csv', low_memory=False) #Si.. soy un pesimo modifique el df original.
df['timestamp'] = pd.to_datetime(df['timestamp'])
personas_sin_repetir = df.drop_duplicates(subset="person", keep='first')

In [53]:
personas_sin_repetir = personas_sin_repetir.loc[:,"person"]

In [54]:
personas_sin_repetir = personas_sin_repetir.to_frame()

In [57]:
usuarios_solo_con_true

,Unnamed: 0,person,timestamp,contar,realiza30EventosEn20MinsLosUltimos2Dias
0,22,001802e4,2018-05-31 17:34:23,3,True
1,48,0031c75f,2018-05-31 02:01:39,3,True
2,124,00970caa,2018-05-31 22:56:56,3,True
3,225,00b5303d,2018-05-30 22:20:58,3,True
4,246,00b6642b,2018-05-31 20:05:02,3,True
5,318,00f49191,2018-05-31 13:20:16,3,True
6,380,01039bf1,2018-05-30 22:06:44,1,True
7,565,015fb139,2018-05-31 02:55:28,3,True
8,581,016a78e4,2018-05-30 18:09:00,3,True
9,652,018adf26,2018-05-30 22:32:20,3,True
10,697,019c24ae,2018-05-31 21:27:51,3,True
11,802,01ac5844,2018-05-30 23:45:04,3,True
12,821,01af6573,2018-05-31 17:01:27,1,True
13,863,01c407bd,2018-05-30 14:37:06,2,True
14,948,01f24fc9,2018-05-30 22:16:23,3,True
15,1013,020b50dc,2018-05-30 23:11:52,2,True
16,1126,02417ee2,2018-05-31 18:41:00,3,True
17,1203,025e1ccc,2018-05-30 20:05:54,3,True
18,1221,02603929,2018-05-30 01:06:01,1,True
19,1280,02694196,2018-05-30 16:37:06,3,True
20,1300,028d0864,2018-05-30 16:31:41,3,True
21,1324,02b8d9d5,2018-05-31 00:51:52,3,True
22,1363,02e0a3c2,2018-05-31 20:54:27,3,True
23,1446,02f0635f,2018-05-30 10:25:59,3,True
24,1487,02fb0bea,2018-05-31 22:33:10,3,True
25,1503,030cdb09,2018-05-31 15:13:37,3,True
26,1603,032eb0b8,2018-05-31 00:13:07,1,True
27,1730,037b36f8,2018-05-30 14:48:12,3,True
28,1949,03a67b1c,2018-05-30 23:36:31,3,True
29,2042,03bfba07,2018-05-30 02:03:45,3,True
...,...,...,...,...,...
2230,180121,fbfe488a,2018-05-31 03:55:07,2,True
2231,180159,fc0cbf0d,2018-05-31 13:10:16,1,True
2232,180209,fc1d57d3,2018-05-31 15:05:18,3,True
2233,180352,fc87a52a,2018-05-30 19:42:04,2,True
2234,180454,fcac81d6,2018-05-31 18:18:21,3,True
2235,180513,fcb822b2,2018-05-31 13:36:37,3,True
2236,180676,fcdb0b35,2018-05-31 17:10:30,3,True
2237,180933,fd36449a,2018-05-31 21:19:31,3,True
2238,180943,fd49335a,2018-05-30 00:12:15,3,True
2239,181133,fd9de4d1,2018-05-31 20:18:24,3,True
2240,181163,fda773f4,2018-05-30 05:14:44,2,True
2241,181207,fdc1e44b,2018-05-30 13:42:41,3,True
2242,181258,fde8b41c,2018-05-30 02:17:34,1,True
2243,181336,fded43b9,2018-05-30 15:14:47,1,True
2244,181377,fdf23224,2018-05-31 03:18:06,1,True
2245,181419,fe0952f5,2018-05-31 01:48:15,3,True
2246,181439,fe13802e,2018-05-30 14:29:13,1,True
2247,181533,fe35c833,2018-05-31 15:06:55,1,True
2248,181564,fe530818,2018-05-30 04:31:55,3,True
2249,181578,fe549a4b,2018-05-31 11:26:33,3,True
2250,181705,fe98f91f,2018-05-31 17:32:50,3,True
2251,181811,fee6cf0f,2018-05-30 00:56:07,1,True
2252,182031,ff24c850,2018-05-30 21:01:51,2,True
2253,182090,ff2ffecf,2018-05-31 18:51:09,1,True
2254,182140,ff3b5ff0,2018-05-30 00:07:13,3,True
2255,182298,ff736f37,2018-05-31 23:21:07,3,True
2256,182323,ff77d8a0,2018-05-30 19:31:51,2,True
2257,182355,ff841773,2018-05-31 23:28:40,3,True
2258,182463,ffa28549,2018-05-30 18:56:09,2,True
2259,182495,ffdafc72,2018-05-30 15:30:38,2,True

In [58]:
personas_sin_repetir.set_index("person",inplace=True)
usuarios_solo_con_true.set_index("person",inplace=True)

In [59]:
df_conte = personas_sin_repetir.join(usuarios_solo_con_true,on="person",how="left")

In [61]:
df_final = df_conte.loc[:,"realiza30EventosEn20MinsLosUltimos2Dias"].to_frame().fillna(False)

In [62]:
df_final.to_csv("../data/featureUsuarioRealiza30EventosEn20MinsLosUltimos2Dias.csv", sep=',')