# EL ALGORITMO DEMORA MUCHO EN GENERAR EL CSV
#### Tal vez mejoraria bastante la performance del algoritmo usando apply en vez de iterrow!.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/events.csv', low_memory=False)
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [3]:
df.head(5)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
test = df.groupby('person')['timestamp'].value_counts().to_frame()

In [5]:
test.columns = ['contar']

In [6]:
test.reset_index(inplace=True)

In [7]:
test

           person           timestamp  contar
0        0008ed71 2018-05-17 12:27:47       1
1        0008ed71 2018-05-17 13:44:59       1
2        0008ed71 2018-05-17 13:45:00       1
3        0008ed71 2018-05-17 16:21:54       1
4        0008ed71 2018-05-17 16:22:06       1
5        0008ed71 2018-05-17 16:28:37       1
6        00091926 2018-05-08 23:30:44       3
7        00091926 2018-05-09 00:25:05       3
8        00091926 2018-05-11 02:23:38       3
9        00091926 2018-05-26 03:02:01       3
10       00091926 2018-05-27 18:38:57       3
11       00091926 2018-05-31 19:51:49       3
12       00091926 2018-05-05 03:43:24       2
13       00091926 2018-05-05 23:41:06       2
14       00091926 2018-05-12 23:03:36       2
15       00091926 2018-05-13 01:05:58       2
16       00091926 2018-05-13 02:28:38       2
17       00091926 2018-05-13 04:27:47       2
18       00091926 2018-05-13 18:18:34       2
19       00091926 2018-05-13 19:17:40       2
20       00091926 2018-05-13 21:58:48       2
21       00091926 2018-05-17 00:49:37       2
22       00091926 2018-05-17 01:15:07       2
23       00091926 2018-05-18 01:01:17       2
24       00091926 2018-05-18 01:01:46       2
25       00091926 2018-05-18 01:01:51       2
26       00091926 2018-05-18 01:06:49       2
27       00091926 2018-05-18 01:07:51       2
28       00091926 2018-05-22 00:55:28       2
29       00091926 2018-05-23 01:09:18       2
...           ...                 ...     ...
2023583  fff78145 2018-05-15 02:09:16       1
2023584  fff78145 2018-05-15 21:58:46       1
2023585  fff78145 2018-05-16 20:52:26       1
2023586  fff78145 2018-05-16 20:52:36       1
2023587  fff78145 2018-05-16 20:53:42       1
2023588  fff78145 2018-05-16 20:53:48       1
2023589  fff78145 2018-05-16 20:53:52       1
2023590  fff78145 2018-05-16 20:53:54       1
2023591  fff78145 2018-05-16 20:53:58       1
2023592  fff78145 2018-05-16 20:54:01       1
2023593  fff78145 2018-05-16 20:54:03       1
2023594  fff78145 2018-05-16 20:54:12       1
2023595  fff78145 2018-05-16 20:54:15       1
2023596  fff78145 2018-05-16 20:57:49       1
2023597  fff78145 2018-05-16 20:59:23       1
2023598  fff78145 2018-05-16 20:59:30       1
2023599  fff78145 2018-05-16 20:59:38       1
2023600  fff78145 2018-05-16 21:00:19       1
2023601  fff78145 2018-05-16 21:05:15       1
2023602  fff78145 2018-05-16 21:05:22       1
2023603  fff78145 2018-05-16 22:16:23       1
2023604  fff78145 2018-05-16 22:16:29       1
2023605  fffd1246 2018-05-17 22:22:06       3
2023606  fffd1246 2018-05-17 22:22:16       1
2023607  fffd1246 2018-05-17 22:22:21       1
2023608  fffd1246 2018-05-17 22:22:39       1
2023609  fffd1246 2018-05-17 22:23:03       1
2023610  fffd1246 2018-05-17 22:23:45       1
2023611  fffd1246 2018-05-17 22:23:56       1
2023612  fffd1246 2018-05-17 22:24:29       1

[2023613 rows x 3 columns]

In [23]:
test.sort_values(['person', 'timestamp'], ascending=True,inplace=True)

In [24]:
test

           person           timestamp  contar  conte_10
0        0008ed71 2018-05-17 12:27:47       1     False
1        0008ed71 2018-05-17 13:44:59       1     False
2        0008ed71 2018-05-17 13:45:00       1     False
3        0008ed71 2018-05-17 16:21:54       1     False
4        0008ed71 2018-05-17 16:22:06       1     False
5        0008ed71 2018-05-17 16:28:37       1     False
34       00091926 2018-05-03 22:08:29       1     False
35       00091926 2018-05-03 22:08:35       1     False
36       00091926 2018-05-03 22:08:51       1     False
37       00091926 2018-05-03 22:09:25       1     False
38       00091926 2018-05-03 22:09:34       1     False
39       00091926 2018-05-03 22:09:36       1     False
40       00091926 2018-05-03 22:09:59       1     False
12       00091926 2018-05-05 03:43:24       2      True
41       00091926 2018-05-05 03:46:08       1     False
42       00091926 2018-05-05 03:49:34       1     False
43       00091926 2018-05-05 03:49:37       1     False
44       00091926 2018-05-05 03:49:44       1     False
45       00091926 2018-05-05 23:30:31       1     False
46       00091926 2018-05-05 23:30:32       1     False
47       00091926 2018-05-05 23:30:37       1     False
48       00091926 2018-05-05 23:30:38       1     False
49       00091926 2018-05-05 23:30:42       1     False
13       00091926 2018-05-05 23:41:06       2     False
50       00091926 2018-05-05 23:41:17       1     False
51       00091926 2018-05-05 23:41:18       1     False
52       00091926 2018-05-05 23:41:28       1     False
53       00091926 2018-05-05 23:45:00       1     False
54       00091926 2018-05-05 23:45:01       1     False
55       00091926 2018-05-05 23:45:03       1     False
...           ...                 ...     ...       ...
2023584  fff78145 2018-05-15 21:58:46       1     False
2023585  fff78145 2018-05-16 20:52:26       1     False
2023586  fff78145 2018-05-16 20:52:36       1     False
2023587  fff78145 2018-05-16 20:53:42       1     False
2023588  fff78145 2018-05-16 20:53:48       1     False
2023589  fff78145 2018-05-16 20:53:52       1     False
2023590  fff78145 2018-05-16 20:53:54       1     False
2023591  fff78145 2018-05-16 20:53:58       1     False
2023592  fff78145 2018-05-16 20:54:01       1     False
2023593  fff78145 2018-05-16 20:54:03       1     False
2023594  fff78145 2018-05-16 20:54:12       1     False
2023595  fff78145 2018-05-16 20:54:15       1     False
2023596  fff78145 2018-05-16 20:57:49       1     False
2023597  fff78145 2018-05-16 20:59:23       1     False
2023598  fff78145 2018-05-16 20:59:30       1     False
2023599  fff78145 2018-05-16 20:59:38       1     False
2023600  fff78145 2018-05-16 21:00:19       1     False
2023601  fff78145 2018-05-16 21:05:15       1     False
2023602  fff78145 2018-05-16 21:05:22       1     False
2023568  fff78145 2018-05-16 22:16:20       2     False
2023603  fff78145 2018-05-16 22:16:23       1     False
2023604  fff78145 2018-05-16 22:16:29       1     False
2023605  fffd1246 2018-05-17 22:22:06       3     False
2023606  fffd1246 2018-05-17 22:22:16       1     False
2023607  fffd1246 2018-05-17 22:22:21       1     False
2023608  fffd1246 2018-05-17 22:22:39       1     False
2023609  fffd1246 2018-05-17 22:23:03       1     False
2023610  fffd1246 2018-05-17 22:23:45       1     False
2023611  fffd1246 2018-05-17 22:23:56       1     False
2023612  fffd1246 2018-05-17 22:24:29       1     False

[2023613 rows x 4 columns]

In [25]:
from ipywidgets import IntProgress
from IPython.display import display

persona_antes=None
test["conte_10"] = False

f = IntProgress(min=0, max=2023613) # instantiate the bar
display(f) # display the bar


usuario_ya_con_conte = False   
for i, fila in test.iterrows():
    f.value += 1 # signal to increment the progress bar
    contar=0
    if persona_antes is None or persona_antes != fila["person"]:
        usuario_ya_con_conte=False
        persona_antes=fila["person"]
        df_aux = test[test["person"]==fila["person"]]
    if usuario_ya_con_conte: continue
        
    for i2, fila2 in df_aux.iterrows():
        if (abs(fila['timestamp'] - fila2['timestamp'])).seconds < 60*20: # 20 minutos
            contar+=test.at[i,"contar"]
        else:
            break
            
        if contar==10:
            test.at[i,"conte_10"] = True
            usuario_ya_con_conte = True
            break

IntProgress(value=0, max=2023613)

In [29]:
test.to_csv("../data/salvo.csv", sep=',')

In [33]:
test[test["conte_10"]==True].to_csv("../data/conte_10.csv",sep=",")

In [50]:
test

           person           timestamp  contar  conte_10
0        0008ed71 2018-05-17 12:27:47       1     False
1        0008ed71 2018-05-17 13:44:59       1     False
2        0008ed71 2018-05-17 13:45:00       1     False
3        0008ed71 2018-05-17 16:21:54       1     False
4        0008ed71 2018-05-17 16:22:06       1     False
5        0008ed71 2018-05-17 16:28:37       1     False
34       00091926 2018-05-03 22:08:29       1     False
35       00091926 2018-05-03 22:08:35       1     False
36       00091926 2018-05-03 22:08:51       1     False
37       00091926 2018-05-03 22:09:25       1     False
38       00091926 2018-05-03 22:09:34       1     False
39       00091926 2018-05-03 22:09:36       1     False
40       00091926 2018-05-03 22:09:59       1     False
12       00091926 2018-05-05 03:43:24       2     False
41       00091926 2018-05-05 03:46:08       1     False
42       00091926 2018-05-05 03:49:34       1     False
43       00091926 2018-05-05 03:49:37       1     False
44       00091926 2018-05-05 03:49:44       1     False
45       00091926 2018-05-05 23:30:31       1     False
46       00091926 2018-05-05 23:30:32       1     False
47       00091926 2018-05-05 23:30:37       1     False
48       00091926 2018-05-05 23:30:38       1     False
49       00091926 2018-05-05 23:30:42       1     False
13       00091926 2018-05-05 23:41:06       2     False
50       00091926 2018-05-05 23:41:17       1     False
51       00091926 2018-05-05 23:41:18       1     False
52       00091926 2018-05-05 23:41:28       1     False
53       00091926 2018-05-05 23:45:00       1     False
54       00091926 2018-05-05 23:45:01       1     False
55       00091926 2018-05-05 23:45:03       1     False
...           ...                 ...     ...       ...
2023584  fff78145 2018-05-15 21:58:46       1     False
2023585  fff78145 2018-05-16 20:52:26       1     False
2023586  fff78145 2018-05-16 20:52:36       1     False
2023587  fff78145 2018-05-16 20:53:42       1     False
2023588  fff78145 2018-05-16 20:53:48       1     False
2023589  fff78145 2018-05-16 20:53:52       1     False
2023590  fff78145 2018-05-16 20:53:54       1     False
2023591  fff78145 2018-05-16 20:53:58       1     False
2023592  fff78145 2018-05-16 20:54:01       1     False
2023593  fff78145 2018-05-16 20:54:03       1     False
2023594  fff78145 2018-05-16 20:54:12       1     False
2023595  fff78145 2018-05-16 20:54:15       1     False
2023596  fff78145 2018-05-16 20:57:49       1     False
2023597  fff78145 2018-05-16 20:59:23       1     False
2023598  fff78145 2018-05-16 20:59:30       1     False
2023599  fff78145 2018-05-16 20:59:38       1     False
2023600  fff78145 2018-05-16 21:00:19       1     False
2023601  fff78145 2018-05-16 21:05:15       1     False
2023602  fff78145 2018-05-16 21:05:22       1     False
2023568  fff78145 2018-05-16 22:16:20       2     False
2023603  fff78145 2018-05-16 22:16:23       1     False
2023604  fff78145 2018-05-16 22:16:29       1     False
2023605  fffd1246 2018-05-17 22:22:06       3     False
2023606  fffd1246 2018-05-17 22:22:16       1     False
2023607  fffd1246 2018-05-17 22:22:21       1     False
2023608  fffd1246 2018-05-17 22:22:39       1     False
2023609  fffd1246 2018-05-17 22:23:03       1     False
2023610  fffd1246 2018-05-17 22:23:45       1     False
2023611  fffd1246 2018-05-17 22:23:56       1     False
2023612  fffd1246 2018-05-17 22:24:29       1     False

[2023613 rows x 4 columns]

### EJECUTAR DESDE ACA CON EL CSV

In [8]:
usuarios_solo_con_true = pd.read_csv("../data/conte_10.csv")

In [9]:
personas_sin_repetir = df.drop_duplicates(subset="person", keep='first')

In [10]:
personas_sin_repetir = personas_sin_repetir.loc[:,"person"]

In [11]:
personas_sin_repetir = personas_sin_repetir.to_frame()

In [12]:
type(personas_sin_repetir.at[0,"person"])

str

In [13]:
usuarios_solo_con_true

       Unnamed: 0    person            timestamp  contar  conte_10
0             428  000ba417  2018-05-17 11:11:45       2      True
1             627  000c79fe  2018-05-29 00:27:48       1      True
2             678  000e4d9e  2018-05-16 11:55:04       1      True
3            1013  000e619d  2018-05-15 18:22:41       2      True
4            1067  001001be  2018-05-16 18:36:19       2      True
5            1144  001802e4  2018-05-31 17:35:55       1      True
6            1190  0019e639  2018-01-28 14:26:14       1      True
7            1580  001a2273  2018-05-20 13:42:26       1      True
8            1597  001ca5ee  2018-03-04 22:12:54       2      True
9            1680  001dfc31  2018-02-16 06:37:34       2      True
10           1746  00202cdb  2018-05-14 16:43:55       2      True
11           1871  0027574e  2018-05-08 14:38:53       2      True
12           2024  00295d74  2018-05-29 21:54:19       2      True
13           2063  002aea56  2018-01-25 14:31:58       1      True
14           2292  002b0188  2018-03-16 11:15:43       2      True
15           2325  002e74b2  2018-05-25 13:40:41       2      True
16           2420  00317e49  2018-05-15 04:37:22       2      True
17           2431  0031c75f  2018-05-31 02:01:46       1      True
18           2497  003476c0  2018-02-13 12:38:00       1      True
19           2826  003a05bf  2018-04-30 22:59:51       1      True
20           2932  00408349  2018-05-11 15:37:37       2      True
21           2945  0041fec6  2018-05-21 22:34:54       1      True
22           2989  0042421c  2018-03-02 12:08:29       2      True
23           3007  0043a48e  2018-05-15 22:36:26       2      True
24           3259  0050d971  2018-05-18 09:43:58       2      True
25           3310  00546f4c  2018-01-03 22:46:37       1      True
26           3756  0059a996  2018-05-26 20:44:46       1      True
27           3820  005e06ef  2018-05-16 11:20:50       1      True
28           3951  006671fd  2018-04-28 15:13:13       2      True
29           3968  006bb312  2018-05-24 12:40:33       2      True
...           ...       ...                  ...     ...       ...
20799     2016938  ff9da79b  2018-05-20 04:36:36       1      True
20800     2017236  ff9dfd46  2018-05-25 18:06:59       2      True
20801     2017253  ff9e0500  2018-05-08 19:37:39       2      True
20802     2017591  ffa0b2f3  2018-05-19 20:45:20       1      True
20803     2017627  ffa28549  2018-05-30 18:56:08       1      True
20804     2017690  ffae1445  2018-05-16 01:00:27       2      True
20805     2017751  ffaf0844  2018-05-15 13:23:11       2      True
20806     2017781  ffb598de  2018-05-29 12:45:42       1      True
20807     2017802  ffb7c1a6  2018-03-21 15:16:33       2      True
20808     2017928  ffbb282f  2018-05-15 13:33:06       1      True
20809     2017967  ffc0f2a0  2018-03-22 17:28:23       1      True
20810     2018401  ffc51f07  2018-03-20 18:26:30       1      True
20811     2018775  ffcaae19  2018-05-17 02:44:00       1      True
20812     2018804  ffcaeaae  2018-04-26 15:17:47       1      True
20813     2018848  ffcf952b  2018-05-22 18:34:20       2      True
20814     2018951  ffd62616  2018-05-15 14:08:10       1      True
20815     2019100  ffde3628  2018-04-26 20:18:26       2      True
20816     2019337  ffe53446  2018-05-21 15:27:06       1      True
20817     2019483  ffe7e848  2018-02-15 13:16:10       2      True
20818     2019569  ffeb80c5  2018-05-23 20:39:05       2      True
20819     2019576  ffebdbc9  2018-05-17 18:31:02       1      True
20820     2019598  ffecdf29  2018-05-16 18:35:12       2      True
20821     2019614  ffed0342  2018-03-08 23:09:32       2      True
20822     2019935  ffed3d0e  2018-05-15 02:02:26       2      True
20823     2020095  ffee0f18  2018-01-10 16:28:44       1      True
20824     2023184  ffef83e6  2018-03-27 17:43:12       1      True
20825     2023368  fff1659c  2018-05-16 05:30:09       2      True
20826     2023409  fff1b11a  2018-05-28 14:59:12       1      True
20827     2023433  fff2bdde  2018-05-06 19:34:52       1      True
20828     2023569  fff78145  2018-05-15 01:36:55       1      True

[20829 rows x 5 columns]

In [14]:
personas_sin_repetir.set_index("person",inplace=True)
usuarios_solo_con_true.set_index("person",inplace=True)

In [15]:
df_conte = personas_sin_repetir.join(usuarios_solo_con_true,on="person",how="left")

In [16]:
df_final = df_conte.loc[:,"conte_10"].to_frame().fillna(False)

In [94]:
df_final.to_csv("../data/featureUsuarioRealizaAlMenos10EventosEn20Minutos.csv", sep=',')